* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0b0b0b;
  color: #e5e5e5;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #222;
}

.logo {
  color: #4ade80;
  font-weight: bold;
  font-size: 22px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #aaa;
  transition: 0.3s;
}

nav a:hover,
.active {
  color: #4ade80;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 60px;
}

.green {
  color: #4ade80;
}

.hero p {
  margin-top: 15px;
  color: #888;
}

/* SECTION */
.section {
  padding: 60px 40px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

/* CARDS */
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #161616;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #4ade80;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}